.pg-map {
  background-image: url(../img/imagens/map/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-item {
  display: flex;
  text-decoration: none;
  color: rgb(122, 118, 122);
  font-size: 25px;
}
.menu-item:hover {
  color: #252525;
}

h1 {
  font-size: 44px;
  margin-top: 150px;
  text-align: center;
  color: rgb(252, 251, 252);
  box-shadow: 0 4px 20px rgba(229, 197, 236, 0.952);
}

.quadro-blur {
  position: relative;
  width: 98%;
  max-width: 1200px;
  min-height: 1000px;
  margin: 40px auto;
  padding: 70px;
  background: rgba(241, 208, 241, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  box-sizing: border-box;
  border: 2px solid rgba(247, 189, 242, 0.637);
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.galeria img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.galeria img:hover {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;

  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 15px;
}

.lightbox img {
  max-width: 90vw;
  max-height: 85vh;
  object-fit: contain;

  border-radius: 15px;

  margin: auto;

  transform: scale(0.7);
  opacity: 0;
  transition: 0.4s ease;
}

.lightbox.ativo img {
  transform: scale(1);
  opacity: 1;
}

.lightbox {
  animation: fundoSuave 0.3s ease;
}

@keyframes fundoSuave {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  position: absolute;
  color: white;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  padding: 15px;
}

#anterior {
  left: 8%;
}
#proximo {
  right: 8%;
}

#anterior {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 101;
}

#proximo {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 101;
}

.fechar {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.fechar img {
  width: 35px;
  height: auto;
}

.btn img {
  width: 45px;
  height: auto;
}

@media (max-width: 600px) {
  #anterior {
    left: 10px;
  }
  #proximo {
    right: 10px;
  }

  .fechar {
    top: 15px;
    right: 15px;
  }

  .btn {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .btn img {
    width: 35px;
  }

  .fechar img {
    width: 30px;
  }
}

.site-footer {
  background-color: #c6b4ca;
  color: #ffffff;
  text-align: center;
  padding: 20px 15px;
  font-family: "Fredoka", sans-serif;
  font-size: 0.95rem;
  line-height: 1.5;
  border-top: 3px solid #b13bb1;
  margin-top: 50px;
}

.site-footer strong {
  font-weight: bold;
  color: #460e46;
}
